@import "tailwindcss";

body {
  background-color: #171717;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  white-space: nowrap;
}

@media (max-width: 768px) {
  body {
    background-color: lightblue;
    color: black;
  }
  h1{
    font-size: 30px;
  }
}


